.App {
  height: 100vh;
}

input {
  padding: 10px 20px;
  border-radius: 5px;
  border-color: #07689F;
  border-style: solid;
  border-width: 1px;

  &:focus {
    outline: none;
  }

}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  border-color: transparent;
  outline: none;
  transition: all .5s ease-out;

  &.button--type-primary {
    background-color: #07689F;
    color: white;
  }

  &.button--type-primary:hover {
    background-color: darken(#07689F, 10);
    color: white;
  }

  &.button--type-secondary {
    color: #07689F;
  }

  &.button--type-secondary:hover {
    color: darken(#07689F, 15);
  }
}

.form--type-loginSignup {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px;
  background-color: white;
  text-align: center;
  border-radius: 5px;

  * {
    margin-bottom: 5px;
  }

  *:last-child {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 930px) {
  .form--type-loginSignup {
    margin-left: 15%;
  }
}


.section--page-loginSignup {
  height: inherit;
  background-image: url('https://hwanggu-note-sharing-application.s3-us-west-2.amazonaws.com/background.jpg');
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 930px) {
  .section--page-loginSignup {
    justify-content: start;
  }
}
